* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.app-container {
  display: grid;
  grid-template-columns: 3em 1fr 3em 3fr 3em;
  grid-template-rows: 3em 1fr 3em;
  text-align: center;
  min-height: 100vh;
  background-color: #494f58;
  background-image: url(https://p2.piqsels.com/preview/532/313/113/texture-concrete-grey-stone.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

.main-menu {
  grid-column-start: 2;
  grid-row-start: 2;
  justify-content: space-between;
}

.combatant-menu {
  grid-column-start: 4;
  grid-row-start: 2;
  color: #000000;
}

.combatant-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.combatant-row {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr auto;
  align-items: center;
  font-size: 1.2rem;
  padding: 0.5em;
}

.main-title {
  font-size: 3.5em;
  font-weight: bold;
  color: #6d668fff;
}

.btn {
  border: 2px solid transparent;
  color: #000000;
  font-size: 1.2rem;
  padding: 0.5em 1.25em;
  cursor: pointer;
  display: block;
  width: 100%;
}

.btn-small {
  width: fit-content;
  padding: 0.1em 0.3em 0.2em;
  line-height: 1;
  justify-self: center;
}

.btn:not(:first-of-type),
input:not(:first-of-type),
.combatant-row:not(:first-of-type) {
  margin-top: 0.5em;
}

.btn:hover,
.btn:focus,
input:hover,
input:focus {
  box-shadow: 0px 0px 10px #ffffff99;
  color: #f5f5f5;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  box-shadow: 0px 0px 100px 1000px #00000099;
  color: #f5f5f5;
  width: fit-content;
}

.modal-grid {
  display: grid;
  grid-template-columns: 2fr 2em 1fr;
  grid-template-rows: 1fr 2fr;
}

.modal-entry {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  font-size: 2em;
  line-height: 1;
}

.modal-inputs {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.modal-buttons {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

input {
  padding: 0.5em 1.25em;
  color: #f5f5f5;
  width: 100%;
  font-size: 1.2rem;
  margin: 0;
  display: block;
  box-sizing: border-box;
}

.bg-darkgrey {
  background-color: #222422;
}

.border {
  border: 3px solid rgb(70, 65, 92);
}
